<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <script src="/resources/js/jquery-1.10.2.min.js"></script>
    <link type="text/css" href="/resources/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/resources/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/resources/js/index.js"></script>
</head>
<body>

 file: <a th:href="'/download?file='+${fileName}" th:text="${fileName}"></a>
</body>
</html>