<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <script src="/resources/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        // window.opener.document.getElementById("bbb").value="123123123";//向父页面传值
        //获取父级页面的的值

        //window.opener.a();   调用父级页面的方法

        // alert(window.opener.a().value);

        window.opener.location.reload(); //刷新父级页面
        window.close();
    </script>
</head>
<body>
</body>
</html>