<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <script src="/resources/js/jquery-1.10.2.min.js"></script>

    <script src="/resources/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="/resources/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>

    <script src="/resources/jQuery-contextMenu-2.2.4/jquery.contextMenu.js"></script>
    <link href="/resources/jQuery-contextMenu-2.2.4/jquery.contextMenu.css" rel="stylesheet"/>

    <script type="text/javascript">
        mxBasePath = '/resources/mxgraph/src';
    </script>
    <script type="text/javascript" src="/resources/mxgraph/mxClient.js"></script>

    <script src="/resources/js/index.js"></script>
    <script src="/resources/js/MXGraph.js"></script>
    <script src="/resources/js/mouse.js"></script>
    <script src="/resources/js/leftpanel.js"></script>
    <script src="/resources/vue/vue.js"></script>

    <link href="/resources/css/index.css" rel="stylesheet"/>
    <!-- Example code -->
    <script type="text/javascript">

    </script>
    <style type="text/css">
        #container {
        }

        .row {
            margin: 10px 10px 10px 10px;
        }
    </style>
</head>

<body>
<div class="row">
    <button onclick="toXML()">TOXML</button>
    <button onclick="append()">Append</button>
    <button onclick="restore()">restore</button>
</div>

<div class="row" id="app">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="row" id="sidebar"></div>
        <div class="row">
            <form id="basicForm">
                <div class="form-group">
                    <label>名称</label>
                    <input type="text" class="form-control" name="name" placeholder="名称" v-model="row.name">
                </div>
                <div class="form-group">
                    <label>类型</label>
                    <input type="text" class="form-control" name="type" placeholder="类型" v-model="row.type">
                </div>
                <button type="button" class="btn btn-default" style="display: none;">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9" style="height: 600px;">
        <div id="container" style="border: 1px red solid;"></div>
    </div>
</div>

</body>
</html>