<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <script src="/resources/js/jquery-1.10.2.min.js"></script>
    <link ref="stylesheet" href="/resources/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/resources/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/resources/js/index.js"></script>
    <script type="text/javascript">
        function rpc() {
            $.ajax({
                url: "/rpc",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    // window.location.reload();
                }
            });
        }
        function grpc() {
            $.ajax({
                url: "/grpc",
                type: "POST",
                data:{
                    name: "[[${certificateCode}]]"
                },
                dataType: "json",
                success: function (data) {
                    // window.location.reload();
                }
            });
        }
    </script>
</head>

<body  style="margin:0px;">
<div>
    <div>Login User: <span th:text="${certificateCode}"></span></div>
    <div><a href="/mxgraph">MXGraph</a></div>
    <div><button onclick="rpc()">RPC</button></div>
    <div><button onclick="grpc()">gRPC</button></div>
</div>
</body>
</html>